body, html{
/*    min-width:996px;*/
    font-size:12px;
    font-family: 'Lato', sans-serif;
    font-weight:400;
    line-height:1.2;
    background: #fff;
}
.container{
    max-width: 1160px;
    width:100%;
    margin:0 auto;
    background: #FAFAFA;
}

/*=====Header
===================*/
.header-inner{
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:40px 100px 45px;
}
.header-logo{
    width:65px; 
    height:24px;
    margin-right:15px;
}
.header-nav{
    width:calc(50% - 30px);
    display:flex;
    justify-content:space-between;
    margin-right:15px;
    margin-left:15px;
    position:relative;
}

.header-nav-link{
    position:relative;
    margin-left:16.6px;
    font-size:14px;
    font-weight:700;
    line-height: 1.2;
    color:#151F32;
    text-decoration:none;
}
.header-nav-link:before{
    content:"";
    position:absolute;
    bottom:-3px;;
    right:50%;
    width:0%;
    height:1px;
    background: #151F32;
    transition:0.2s; 
}
.header-nav-link:hover:before{
    width:50%;
    left:0;
}
.header-nav-link:first-child{
    margin-left:0;
}
.header-registration{
    display:flex;
    align-items:center;
}
.header-cart{
    margin-left:43px;
}
/*=====Button-menu
===================*/
.dropdown-block{
    position:relative;
    display:none;
}
.dropdown-block:hover .dropdown-menu{
    display:block;
}
.dropdown-menu{
    display:none;
    width:70px;
    position:absolute;
    top:15px;
    left:0;
}
.dropdown-link{
    display:block;
    padding-bottom:3px;
    text-decoration: none;
    color:inherit;
    background: #fff;
}
.dropdown-link:hover{
    background: #dbdbdb;
}
.menu-icon-button{
    width:15px;
    height:15px;
}
/*====///Button-menu
===================*/
/*=====Intro section
===================*/
.intro-inner{
    display:flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.title-dark-blue{
    font-weight: 900;
    font-size: 110px;
    line-height:1.2;
    color:#032F48;
}
.intro-left-title{
    margin-left:-5px;
}
.line{
    background: #032F48;
    height:7px;
}
.intro-line{
    width:82px;
    margin-top:21px;
    margin-bottom:15px;
}
.intro-left-desc{
    width:194px;
    height:51px;
    font-weight: 900;
    font-size: 12px;
    line-height: 1.9;
    color:#344159;
    margin-top:auto;
}
.intro-left{
    position:relative;
    width:50%;
    display:flex;
    flex-direction:column;
    box-sizing:border-box;
    margin-right:15px;
    padding-left:168px;
    padding-bottom:43px;
    padding-top:56px;
}
.icon-equalizer{
    width:51px;
    height:48px;
    box-sizing:border-box;
    background:#032F48 url('../img/equalizer.svg');
    background-repeat:no-repeat;
    background-position:center;
    position:absolute;
    bottom:9.55%;
    right:-30px;
}
.intro-right{
    width: 50%;
    height:492px;
    position:relative;
    box-sizing:border-box;
    padding:90px 76px;
    margin-left:15px;
    overflow:hidden;
    background: #032F48; /*url("../img/intro-bg-rectangle.jpg");*/
}
.triangle-yellow{
    width: 39.12%;
    height:44.92%;
    background: #F9BA51;
    position:absolute;
    transform:rotate(-45deg);
    bottom:-22.46%;
    left:-20%;
}
.triangle-orange{
    width: 103.36%;
    height: 118.7%;
    background: #F1552C;
    position:absolute;
    transform:rotate(45deg);
    bottom:-59.35%;
    right:-51.68%;
}
.square-blue{
    width: 36.64%;
    height: 42.07%;
    background:#78C9C0;
    position:absolute;
    bottom:0;
    right:0;
    z-index:7;
}
.title-white{
    color:#fff;
    font-weight:700;
    line-height:1.2;
    margin-left:3px;
}
.intro-right-title{
    font-size:28px;
    margin-bottom:25px;
}
.desc-pink{
    color: #FCD3AC;
    font-size:12px;
    line-height:1.6;
}
.intro-right-desc{
    width:190px;
    max-height:75px;
    margin-bottom:58px;
    overflow:hidden;
}
/*Arrows*/
.arrows{
    display:flex;
    align-items: center;
}
.arrow-left{
    width:16px;
    height:12px;
    margin-right:28px;
}
.arrow-right{
    width:24px;
    height:18px;
}
/*/////Arrows*/
/*Button*/
.btn-white{
    display:inline-block;
    width:133px;
    height:48px;
    text-align:center;
    text-decoration: none;
    padding:14px 5px;
    background: #fff;
    font-weight: 900;
    font-size: 17px;
    line-height: 1.2;
    color:#151F32;
    box-sizing:border-box;
    box-shadow:0px 0px 20px 0px rgba(0, 0, 0, 0.20);
    cursor:pointer;
    position:absolute;
    bottom:9.55%;
    left:0;
    z-index:4;
}
/*=============Menu-bottom
===================*/
.menu-bottom-inner{
    padding:49px 100px 34px 168px;
    display:flex;
    justify-content: space-between;
/*    margin-top:15px;*/

}
.menu-bottom-link{
    font-weight: 900;
    font-size: 22px;
    line-height: 1.2;
    color:#c2c2c2;
    text-decoration:none;
}

/*============Media quaries
=============================*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
    .header-inner{
        padding-left:50px;
        padding-right:50px;  
    }
    .intro-left{
        padding-left:50px;
    }
    .menu-bottom-inner{
        padding-left:50px;
        padding-right:50px;
    }
}
@media only screen 
    and (max-device-width : 767px) {
.header-inner{
        padding:10px; 
    }
    .menu-bottom-inner{
        padding-left:20px;
        padding-right:20px;
    }
    .intro-inner{
            flex-direction:column;
            align-items:center;
        }
    .intro-left,.intro-right{
        padding:20px;
        width:80%;
        margin:0;
    }
    .square-blue{
       display:none;
    }
     .icon-equalizer{
        right:0;
    }
        .title-dark-blue{
        margin-top:15px;
        font-size:50px;
    }
    .header-nav{
        display:none;
    }
    .dropdown-block{
        display:block;
    } 
     .menu-bottom-link{
        font-size:15px;
    }
}

@media only screen 
and (max-device-width : 320px) {
    .header-inner{
        padding:10px; 
    }
    .square-blue{
       display:none;
    }
    .intro-inner{
        flex-wrap:wrap;
    }
    .intro-left,.intro-right{
        width:100%;
        margin-left:0;
        margin-right:0;
        padding:20px;
    }
    .title-dark-blue{
        margin-top:15px;
        font-size:50px;
    }
    .icon-equalizer{
        right:0;
    }
    .header-nav{
        display:none;
    }
    .dropdown-block{
        display:block;
   }
    .menu-bottom-inner{
        padding-left:10px;
        padding-right:10px;
    }
    .menu-bottom-link{
        font-size:15px;
    }

}
