body, html{
    font-size:12px;
    font-family: 'Lato', sans-serif;
    font-weight:400;
    line-height:1.2;
    background: #fff;
}
.wrapper{
    max-width: 1160px;
    width:100%;
    margin:0 auto;
}
.container{
    background: #FAFAFA;
}

/*=====Header
===================*/
.header-inner{
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:40px 100px 45px;
}
.header-logo{
    width:65px; 
    height:24px;
    margin-right:15px;
}
.header-nav{
    width:calc(50% - 30px);
    display:flex;
    justify-content:space-between;
    margin-right:15px;
    margin-left:15px;
    position:relative;
}

.header-nav-link{
    position:relative;
    margin-left:16.6px;
    font-size:14px;
    font-weight:700;
    line-height: 1.2;
    color:#151F32;
    text-decoration:none;
}
.header-nav-link:before{
    content:"";
    position:absolute;
    bottom:-3px;;
    right:50%;
    width:0%;
    height:1px;
    background: #151F32;
    transition:0.2s; 
}
.header-nav-link:hover:before{
    width:50%;
    left:0;
}
.header-nav-link:first-child{
    margin-left:0;
}
.header-registration{
    display:flex;
    align-items:center;
}
.header-cart{
    margin-left:43px;
}
/*=====Button-menu
===================*/
.dropdown-block{
    position:relative;
    display:none;
}
.dropdown-block:hover .dropdown-menu{
    display:block;
}
.dropdown-menu{
    display:none;
    width:70px;
    position:absolute;
    top:15px;
    left:0;
}
.dropdown-link{
    display:block;
    padding-bottom:3px;
    text-decoration: none;
    color:inherit;
    background: #fff;
}
.dropdown-link:hover{
    background: #dbdbdb;
}
.menu-icon-button{
    width:15px;
    height:15px;
}
/*====///Button-menu
===================*/
/*=====Intro section
===================*/
.intro-inner{
    display:flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.title-dark-blue{
    font-weight: 900;
    font-size: 110px;
    line-height:1.2;
    color:#032F48;
}
.intro-left-title{
    margin-left:-5px;
}
.line{
    background: #032F48;
    height:7px;
}
.intro-line{
    width:82px;
    margin-top:21px;
    margin-bottom:15px;
}
.intro-left-desc{
    width:194px;
    height:51px;
    font-weight: 900;
    font-size: 12px;
    line-height: 1.9;
    color:#344159;
    margin-top:auto;
}
.intro-left{
    position:relative;
    width:50%;
    display:flex;
    flex-direction:column;
    box-sizing:border-box;
    margin-right:15px;
    padding-left:168px;
    padding-bottom:43px;
    padding-top:56px;
}
.icon-equalizer{
    width:51px;
    height:48px;
    box-sizing:border-box;
    background:#032F48 url('../img/equalizer.svg');
    background-repeat:no-repeat;
    background-position:center;
    position:absolute;
    bottom:9.55%;
    right:-30px;
}
.intro-right{
    width: 50%;
    height:492px;
    position:relative;
    box-sizing:border-box;
    padding:90px 76px;
    margin-left:15px;
    overflow:hidden;
    background: #032F48; /*url("../img/intro-bg-rectangle.jpg");*/
}
.triangle-yellow{
    width: 39.12%;
    height:44.92%;
    background: #F9BA51;
    position:absolute;
    transform:rotate(-45deg);
    bottom:-22.46%;
    left:-20%;
}
.triangle-orange{
    width: 103.36%;
    height: 118.7%;
    background: #F1552C;
    position:absolute;
    transform:rotate(45deg);
    bottom:-59.35%;
    right:-51.68%;
}
.square-blue{
    width: 36.64%;
    height: 42.07%;
    background:#78C9C0;
    position:absolute;
    bottom:0;
    right:0;
    z-index:7;
}
.title-white{
    color:#fff;
    font-weight:700;
    line-height:1.2;
    font-size:28px;

}
.intro-right-title{
    margin-bottom:25px;
    margin-left:3px;
}
.desc-pink{
    color: #FCD3AC;
    font-size:12px;
    line-height:1.6;
}
.intro-right-desc{
    width:190px;
    max-height:75px;
    margin-bottom:58px;
    overflow:hidden;
}
/*Arrows*/
.arrows{
    display:flex;
    align-items: center;
}
.arrow-right{
    margin-left:28px;
    transform:rotate(180deg);
 
}
.arrow-right,.arrow-left{
    transition:0.2s;
    width:16px;
    height:12px;
}
.arrow-right:hover{
    transform:rotate(180deg) scale(1.67);
    fill:#FCD3AC;
}
.arrow-left:hover{
    transform:scale(1.67);
    fill:#FCD3AC;
}
/*/////Arrows*/
/*Button*/
.btn{
    display:inline-block;
    text-align:center;
    padding:14px 5px;
    text-decoration: none;
    box-sizing:border-box;
    cursor:pointer;
    font-weight: 900;
    font-size: 17px;
    line-height: 1.2;
}
.btn-white{
    width:133px;
    height:48px;
    background: #fff;
    color:#151F32;
    box-shadow:0px 0px 20px 0px rgba(0, 0, 0, 0.20);
    position:absolute;
    bottom:9.55%;
    left:0;
    z-index:4;
}
/*=============Menu-bottom
===================*/
.menu-bottom-inner{
    padding:49px 100px 34px 168px;
    display:flex;
    justify-content: space-between;

}
.menu-bottom-link{
    font-weight: 900;
    font-size: 22px;
    line-height: 1.2;
    color:#c2c2c2;
    text-decoration:none;
}
/*============Main
=======================*/
/*============Past section
=======================*/
.section-period{
    font-size:28px;
    margin-bottom:166px;
}
.past{
    margin-top:180px;

}
.past-inner{
    display:flex;
    flex-wrap:wrap;
    box-sizing:border-box;
}
.container-white{
    background: #fff;
    padding-left:168px;
    padding-right:100px;
    margin:0 auto;
}
.left-block{
    margin-right:61px;
    display:flex;
    flex-wrap:wrap;
}
.past-left{
    width:15em;
}
.past-left-square{
    position:relative;
    width:7.5em;
    height:7.5em;
    padding:1.29em 0.64em;
/*    overflow: hidden;*/
    box-sizing:border-box;
}
.square-transparent{
    position:relative;
}
.past-left-line{
    width:4em;
    position:absolute;
    top:50%;
    right:0;
}
.square-01{
    background: #F9BA51;
}
.square-02{
    background: #78C9C0;
    padding-left:1.07em;
}
.square-03{
    background: #F1552C;
}
.past-number{
    position:absolute;
    bottom:-12.34%;
    font-size:4.29em;
    line-height:0.8;
    margin:0;
    padding:0;
    color:#fff;
    font-weight:900;
    opacity:0.5;
}
.number-01{
    right:-7%;
}
.number-02{
    right:-5%;
}
.number-03{
    right:-5%;
}
/*==========Past-right part
=========================*/

.right-block{
    flex-grow:1;
    padding:5px 15px;
    position:relative;
}
.right-title{
    margin-left:-3px;
    margin-bottom:33px;
}
.past-right-title{
    position:relative;
}
.past-right-title:before{
    display:block;
    content:'branding projects';
    color:#DDDFE0;
    font-size:0.16em;
    letter-spacing: 2px;
    position:absolute;
    left:29px;
    top:109px;
}
.right-desc{
    color:#151F32;
    font-size:0.43em;
    line-height:1.6;
    max-width:190px;
    margin-bottom:38px;  
}

.btn-blue{
    width:139px;
    height:49px;
    color:#fff;
    background: #151F32;
    padding:14px 48px 15px 49px;
}
.past-right-line{
    width:60px;
    position:absolute;
    bottom:25%;
    right:-100px;
}
/*============New section
=========================*/
/*
.new, .next{
    margin-bottom:166px;
    height:100vh;
}
*/
.new-inner,.next-inner{
    display:flex;
    flex-wrap:wrap;
}
.new-left{
    width:15.79em;
    height:15.7em;
    background: #78C9BF url('../img/new-sect-bg.jpg');
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    margin-left:-22px;
    position:relative;
    z-index:2;
}
.new-left-line{
    position:absolute;
}
.line-bottom{
    width:22px;
    bottom:25%;
    right:-5%;
}
.line-top{
    width:48.5px;
    top:23.66%;
    left:-11%;
}
.statistic{
    display:flex;
    flex-direction:column;
    width:81.9%;
    height:11.61em;
    background: #fff;
    padding:35px 30px 5px;
    box-sizing:border-box;
    margin-top:2.1em;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
}
.new-title{
    font-weight: 900;
    font-size: 0.75em;
    line-height: 1.2;
    color:#151F32;
    margin-bottom:14px;
}
.new-desc{
    margin-bottom:21px;
    width:178px;
    font-size:12px;
}
.turnover{
    display:flex;
    justify-content: space-between;
    margin-bottom:15px;
    max-width:4.64em;
}
.income{
/*    margin-right:57px;*/
    margin-right:5px;
}
.quantity{
    font-weight: 900;
    font-size: 0.54em;
    line-height: 1.2;
    color:#151F32;
}
.title{
    font-weight: 700;
    font-size: 0.36em;
    line-height:1.6;
    color:#919193;
    margin-bottom:10px;
}
.line-turnover{
    height:2px;
    width:0.64em;
}
.line-income{
    background: #151F32;
}
.line-expense{
    background: #E75A31;
}
.diagram-block{
    position:relative;
    margin-top:auto;
}
.diagram{
    margin-left:6px;
}
.value{
    position:absolute;
    font-weight: 600;
    font-size: 8px;
    line-height: 1.3;
    color:#151F32;
    transform:rotate(-90deg);
}
.max-value{
    top:-14px;
    right:75.5px;
}
.med-value{
    left:61.5px;
    bottom:37px;
}
.new-right{
    padding-top:0;
    position:relative;
}
.new-right-title{
    color: #151F32;
}
.new-desc-first{
    margin-bottom:19px;
}
.new-desc-second{
    margin-bottom:0;
    max-height:50px;
    height:45px;
    overflow:hidden;
}
.new-right-line{
    position:absolute;
    width:112px;
    bottom:25%;
    left:0px;
}
.btn-black{
    background: #151F32;
}
/*========/New section
======================*/
.next-left-block{
    width:15.11em;
    height:12.48em;
    box-sizing:border-box;
    background:#032F48 url('../img/next-sect-bg.jpg') center center no-repeat;
    background-size:cover;
    padding-top:70px;
    padding-left:30px;
    padding-bottom:48.76px;
    position:relative;
}
.generation{
    display:flex;
    flex-direction:column;
}
.generation-title{
    color:#fff;
    font-weight: 900;
    font-size: 0.57em;
    line-height: 1.2;
    margin-bottom:21px;
}
.generation-desc{
    width:178px;
    margin-bottom:31px;
}
.icon-play{
    width:43px;
    height:43px;
}
.generation-arrows{
    margin-top:auto;
}
/*=============Sub-block minimal
===============================*/
.sub-block{
    position:absolute;
    right:-8.7%;
    top:53%;
}
.minimal-img{
    width:230px;
    height:180px;
    margin-bottom:19px;
}
.subtitle{
    font-size:15px;
    font-weight:700;
    color:#000;
    line-height:1.6;
}
.subdesc{
    font-size:12px;
    width:175px;
    color:#151F32;
    line-height:1.7;
}
/*=============/Sub-block minimal
===============================*/
/*=============Next right block
================================*/
.next-right-block{
    position:relative;
}
.next-right-title{
    color:#032F48;
    margin-bottom:48px;
}
.next-right-img{
    margin-bottom:19px;
    width:326px;
    height:180px;
}
.next-right-line{
    width:112px;
    background:#151F32;
}
.next-right-line{
    position:absolute;
    top:0;
    right:-100px;
}
/*=============/Next right block
================================*/
/*=============Suscipit section
==================================*/

.suscipit,.programs-inner{
    margin-bottom:166px;
}
.suscipit-inner{
    display:flex;
}
.suscipit-left-block{
    width:15.11em;
    flex-direction:column;
    padding-top:32px;
    box-sizing:border-box;
    position:relative;
}
.line-decor::before{
    content:"";
    position:absolute;
    height:7px;
    background: #151F32;
}
.suscipit-left-block::before{
    width:112px;
    top:0;
    right:0;
}
.sum{
    font-weight: 700;
    font-size: 46px;
    line-height: 1.6;
    color: #FF7C14;
}
.suscipit-right-block{
    padding-top:25px;
    position:relative;
}
.suscipit-right-block::before{
    width:50px;
    left:-61px;
    top:37px;
}
.suscipit-title{
    font-weight: 700;
    font-size: 24px;
    line-height: 1.6;
    color: #151F32;
}
.suscipit-desc{
    width:190px;
    margin-bottom:25px;
}
.suscipit-link{
    text-decoration:none;
    font-weight: 700;
    display: inline-block;
    min-height:17px;
    max-width:71px;
    font-size: 11px;
    line-height: 1.5;
    color: #151F32;
    text-transform: uppercase;
    position:relative;
}
.suscipit-link::after{
    content:'';
    position:absolute;
    width:6px;
    height:7.5px;
    bottom:5.5px;
    right:-9px;
    background-image:url('../img/suscipit-link-arrow.svg');
    background-repeat:no-repeat;
    background-position:center;
    background-size:contain;
    
}

/*=============/Suscipit section
==================================*/
/*=============Programs section
===================================*/
.programs-inner{
    max-width:29.36em;
    width:100%;
    height:13.89em;
    background:#F6BC51 url('../img/bg-programs.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    position:relative;
/*    overflow:hidden;*/
}
.programs-blue-square{
    padding:1.29em 1.9em;
    width:43%;
    height: 81.5%;
    background: #032F48;
    position:absolute;
    bottom:0;
    right:0;
    box-sizing:border-box;
}
.programs-title{
    margin-bottom:8px;
}
.programs-desc{
    max-width:19.1em;
    margin-bottom:3.16em;
}
.programs-btn{
    width:8.18em;
    height:2.88em;
    background:#EFF7FF;
    color:#032F48;
}
.programs-orange-triangle{
/*
    width:68.03%;
    height:100%;
    background:transparent;
    box-sizing:border-box;
*/
    border-bottom: 195.5px solid #F1552C;
    border-top:195.5px solid transparent;
    border-left:300px solid #F1552C;
    border-right:300px solid transparent;
    top:0;
    left:0;
    position:absolute;   
    
}
.programs-keyboard-img{
    width:44.16%;
    height:46.27%;
    position:absolute;
    top:30.85%;
    left:4.87%;
}
/*=============/Programs section
===================================*/




















/*============Media quaries
=============================*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
    .header-inner{
        padding-left:50px;
        padding-right:50px;  
    }
    .intro-left{
        padding-left:50px;
    }
    .menu-bottom-inner{
        padding-left:50px;
        padding-right:50px;
    }
    .right-block{
        order:-1;
        margin-bottom:15px;
        margin-left:0;
    }

}
@media only screen 
    and (max-device-width : 767px) {
.header-inner{
        padding:10px; 
    }
    .menu-bottom-inner{
        padding-left:20px;
        padding-right:20px;
    }
    .intro-inner{
            flex-direction:column;
            align-items:center;
        }
    .intro-left,.intro-right{
        padding:20px;
        width:80%;
        margin:0;
    }
    .square-blue{
       display:none;
    }
     .icon-equalizer{
        right:0;
    }
        .title-dark-blue{
        margin-top:15px;
        font-size:50px;
    }
    .header-nav{
        display:none;
    }
    .dropdown-block{
        display:block;
    } 
     .menu-bottom-link{
        font-size:15px;
    }
}

@media only screen 
and (max-device-width : 320px) {
    .header-inner{
        padding:10px; 
    }
    .square-blue{
       display:none;
    }
    .intro-inner{
        flex-wrap:wrap;
    }
    .intro-left,.intro-right{
        width:100%;
        margin-left:0;
        margin-right:0;
        padding:20px;
    }
    .title-dark-blue{
        margin-top:15px;
        font-size:50px;
    }
    .icon-equalizer{
        right:0;
    }
    .header-nav{
        display:none;
    }
    .dropdown-block{
        display:block;
   }
    .menu-bottom-inner{
        padding-left:10px;
        padding-right:10px;
    }
    .menu-bottom-link{
        font-size:15px;
    }

}
